




  <div class="product">
    <p>
      <h6><b>Name: </b> <%= link_to product.name, product %></h6><br>
      <% if product.image_link.present? %>
        <%= image_tag product.image_link.url %><br>
      <% end %>
      <b>Brand: </b> <%= product.brand.name %><br>
      <b>Category: </b> <%= product.category.name %><br>
      <b>Price: $</b> <%= product.price %><br>
      <b>Description: </b> <%= product.description %><br>
    </p>
  </div>
